{cover_enabled, true}.
{port_env, [
        {"CXXFLAGS", "$CXXFLAGS -I/usr/lib/include -Ic_src/ -std=c++11 -O3 -Wno-write-strings"},
        {"LDFLAGS", "$LDFLAGS -lstdc++ -shared"}
    ]}.
{port_specs, [
        {".*", "priv/cpool.so", ["c_src/CPool/*.cpp", "c_src/CPoolNode/*.cpp", "c_src/cpool.cpp"], [{env, [{"CXXFLAGS", "$CXXFLAGS -Ic_src/CPool/ -Ic_src/CPoolNode/"}]}]}
    ]}.
